In [12]:
#creating product and its price
p1_name,p1_price="ML",100.09
p2_name,p2_price="Deep Learning",350.00
p3_name,p3_price="NLP",260.00

In [13]:
#creating company name and info
company_name="coding temple, inc."
company_address="283 Franklin St."
company_city="Boston, MA"

In [14]:
#Declaring ending message
message="Thank you for shopping with us today!"

In [15]:
#Top border
print("*"*50)

print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

#printing line betn sections
print("*"*50)

#printing out header for items section
print("\tProduct Name\tProduct Price")

#Creating statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

#printing line betn sections
print("="*50)

#Header section for total
print("\t\t\tTotal")

#Calculating total price and print out
total = p1_price+p2_price+p3_price
print("\t\t\t${}".format(total))
print("="*50)

#Printing thank you message
print("\n\t{}\n".format(message))
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
**************************************************
	Product Name	Product Price
	Ml		$100.09
	Deep Learning	$350.0
	Nlp		$260.0
==================================================
			Total
			$710.09
==================================================

	Thank you for shopping with us today!

**************************************************

In [16]:
#Printing another bill
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
print("*"*50)
print("\tProduct Name\tProduct Price")
print("\t{}\t\t${}".format(p2_name.title(),p2_price))
print("="*50)
print("\t\t\tTotal")
total=p2_price
print("\t\t\t${}".format(total))
print("="*50)
print("\n\t{}\n".format(message))
print("*"*50)

		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
**************************************************
	Product Name	Product Price
	Deep Learning		$350.0
==================================================
			Total
			$350.0
==================================================

	Thank you for shopping with us today!

**************************************************